version: '3.7'

services:
  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    restart: unless-stopped
    environment:
      ADMINER_DEFAULT_SERVER: host.docker.internal

networks:
  default:
    name: adminer